@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap');
h2 {
    font-family:$font1;
    font-weight:400;
    font-size:36px;
    color:$color4
}
p {
    font-family:$font1;
    font-size:14px;
}